@import "../../../App/App";

.bar {
    position: fixed;
    width: 40px;
    bottom: 0;
    left: auto;
    right: 40px;
    z-index: 10;
    color: $--light-slate;
    line-height: 1.3;

    @include mobile {
        display: none;
    }
    @include miniMobile {
        display: none;
    }
    @include tablet {
        display: none;
    }

    @media (max-width: 1150px) {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 150px;
            margin: 0 auto;
            background-color: $--light-slate;
        }
    }

    &__email {
        margin: 20px auto;
        padding: 10px;
        font-family: $--font-mono;
        font-size: $--fz-xxs;
        line-height: $--fz-lg;
        letter-spacing: 0.1em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: $--transition;

        &:hover {
            color: $--green;
            cursor: url('../../../../public/assets/spider2.png'), auto !important;
        }
    }

    &__item {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: $--transition;
        padding: 10px;
        cursor: url('../../../../public/assets/spider2.png'), auto !important;

        &:hover {
            color: $--green;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: none;
            text-decoration-skip-ink: auto;
            color: inherit;
            cursor: url('../../../../public/assets/spider2.png'), auto !important;
        }
    }
}
