@import "../../../App/App";

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;

    @include miniMobile {
        flex-direction: column;
        margin-top: 50px;
    }
    @include mobile {
        flex-direction: column;
        margin-top: 50px;
    }

    .right {
        box-shadow: 0 10px 30px -15px $--navy-shadow;
        transition: $--transition;
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
        margin-left: 50px;
        width: 100%;
        height: 100%;
        max-width: 400px;

        &:hover {
            animation: $--superfade 3000ms;
            -webkit-animation: $--superfade 3000ms;
            -moz-animation: $--superfade 3000ms;
            -ms-animation: $--superfade 3000ms;
            -o-animation: $--superfade 3000ms;
        }

        &__wrapper {
            box-shadow: 0 10px 30px -15px $--navy-shadow;
            transition: $--transition;
            display: block;
            position: relative;
            width: 100%;
            border-radius: $--border-radius;
            background-color: $--green;

            @include mobile {
                max-width: 260px;
                width: 260px;
                margin-top: 30px;
            }

            @include miniMobile {
                margin-top: 30px;
            }

            &:before {
                top: 0px;
                left: 0px;
                background-color: $--navy;
                mix-blend-mode: screen;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: $--border-radius;
                transition: $--transition;
                box-sizing: inherit;
            }

            &:after {
                border: 2px solid $--green-tint;
                top: 20px;
                left: 20px;
                z-index: -10;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: $--border-radius;
                transition: $--transition;
                box-sizing: inherit;
            }
        }

        &__imageWrapper {
            position: relative;
            border-radius: $--border-radius;
            mix-blend-mode: multiply;
            filter: grayscale(100%) contrast(1);
            transition: $--transition;
            cursor: pointer;
        }

        &__imageBlocker {
            max-width: 500px;
            min-width: 200px;
            display: block;
            border-radius: $--border-radius;
        }

        &__coliseum {
            border-radius: $--border-radius;
            max-width: 100%;
            display: block;
            position: static;
        }

        &__hidden {
            opacity: 0;
            transition: opacity 500ms linear 0s;
            background-color: rgb(232, 232, 232);
            position: absolute;
            inset: 0px;
            object-fit: cover;
            cursor: url('../../../../public/assets/spider2.png'), auto !important;
        }
    }

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__uptitle {
        margin: 10px 0;
        color: $--green;
        font-family: $--font-mono;
        font-size: $--fz-xs;
        font-weight: 400;

        &:hover {
            animation: $--superfade 3000ms;
            -webkit-animation: $--superfade 3000ms;
            -moz-animation: $--superfade 3000ms;
            -ms-animation: $--superfade 3000ms;
            -o-animation: $--superfade 3000ms;
        }
    }

    &__title {
        margin: 0 0 10px;
        font-weight: 600;
        color: $--lightest-slate;
        line-height: 1.1;

        &:hover {
            animation: $--superfade 3000ms;
            -webkit-animation: $--superfade 3000ms;
            -moz-animation: $--superfade 3000ms;
            -ms-animation: $--superfade 3000ms;
            -o-animation: $--superfade 3000ms;
        }
    }

    &__text {
        box-shadow: 0 10px 30px -15px $--navy-shadow;
        transition: $--transition;
        position: relative;
        z-index: 2;
        padding: 25px;
        border-radius: $--border-radius;
        background-color: $--light-navy;
        color: $--light-slate;
        font-size: $--fz-md;
    }

    .stack {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        margin: 25px 0 10px;
        padding: 0;
        list-style: none;

        &:hover {
            animation: $--superfade 3000ms;
            -webkit-animation: $--superfade 3000ms;
            -moz-animation: $--superfade 3000ms;
            -ms-animation: $--superfade 3000ms;
            -o-animation: $--superfade 3000ms;
        }

        &__item {
            margin: 0 20px 5px 0;
            color: $--light-slate;
            font-family: $--font-mono;
            font-size: $--fz-xs;
            white-space: nowrap;


        }
    }

    .links {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin-top: 10px;
        margin-left: -10px;
        color: $--lightest-slate;
        width: 100%;

        &__github {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 10px;
            color: inherit;
            transition: $--transition;

            &:hover {
                color: $--green;
                transition: $--transition;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                cursor: pointer;
            }
        }

        &__deploy {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 10px;
            color: inherit;
            transition: $--transition;

            &:hover {
                color: $--green;
                transition: $--transition;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                cursor: pointer;
            }
        }
    }

}
