@import "src/App/App";

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    width: 100%;
    z-index: 2;
    margin: 0px auto;
    min-height: 100vh;

    @include mobile {
        padding: 60px 0px;
        font-size: $--fz-lg;
        flex-direction: column;
    }

    @include miniMobile {
        padding: 60px 0px;
        font-size: $--fz-lg;
        flex-direction: column;
        margin: 0;
    }

    @include tablet {
        padding: 80px 0px;
    }

    &__skills {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        padding: 0px;
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;

    }

    &__left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: $subtitleColor;
        padding-right: 50px;

        @include mobile {
            padding: 0;
        }
        @include miniMobile {
            padding: 0;
        }

        p {
            -webkit-font-smoothing: antialiased;
            color: $--slate;
            font-family: $--font-sans;
            font-size: $--fz-xl;
            line-height: 1.3;

            &:hover {
                animation: $--superfade 3000ms;
                -webkit-animation: $--superfade 3000ms;
                -moz-animation: $--superfade 3000ms;
                -ms-animation: $--superfade 3000ms;
                -o-animation: $--superfade 3000ms;
            }
        }
    }

    &__right {
        position: relative;
        max-width: 300px;

        &:hover {
            animation: $--superfade 3000ms;
            -webkit-animation: $--superfade 3000ms;
            -moz-animation: $--superfade 3000ms;
            -ms-animation: $--superfade 3000ms;
            -o-animation: $--superfade 3000ms;
        }
    }

    &__wrapper {
        box-shadow: 0 10px 30px -15px $--navy-shadow;
        transition: $--transition;
        display: block;
        position: relative;
        width: 100%;
        border-radius: $--border-radius;
        background-color: $--green;

        @include mobile {
            max-width: 260px;
            width: 260px;
            margin-top: 30px;
        }

        @include miniMobile {
            margin-top: 30px;
        }

        &:before {
            top: 0px;
            left: 0px;
            background-color: $--navy;
            mix-blend-mode: screen;
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: $--border-radius;
            transition: $--transition;
            box-sizing: inherit;
        }

        &:after {
            border: 2px solid $--green-tint;
            top: 20px;
            left: 20px;
            z-index: 1;
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: $--border-radius;
            transition: $--transition;
            box-sizing: inherit;
            cursor: url('../../../../public/assets/cursors/purple_pointer.png'), auto !important;
        }
    }

    &__imageWrapper {
        position: relative;
        border-radius: $--border-radius;
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(1);
        transition: $--transition;

    }

    &__imageBlocker {
        max-width: 500px;
        min-width: 200px;
        display: block;
    }

    &__darsen {
        max-width: 100%;
        display: block;
        position: static;

    }

    &__hidden {
        opacity: 0;
        transition: opacity 500ms linear 0s;
        background-color: rgb(232, 232, 232);
        position: absolute;
        inset: 0px;
        object-fit: cover;
    }
}
