@import "../../../App/App.scss";

.burger {
    display: none;

    @include mobile {
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 200;
        display: flex;
        background-color: $--light-navy;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: -300px;
        transition: all 500ms ease;
    }
    @include miniMobile {
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 200;
        display: flex;
        background-color: $--light-navy;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: -300px;
        transition: all 500ms ease;
    }

    &.active {
        right: 0;
    }

    &__list {
        display: none;

        &.active {
            right: 0;
        }

        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $--transition;
            flex-direction: column;


            width: 300px;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: 200;
            background-color: $--light-navy;
            flex-direction: column;
            right: -300px;
            transition: all 500ms ease;
        }

        @include miniMobile {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $--transition;
            flex-direction: column;


            width: 300px;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: 200;
            background-color: $--light-navy;
            flex-direction: column;
            right: -300px;
        }

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-size: 13px;
            transition-delay: 100ms;
            transition: $--transition;
            margin-bottom: 20px;

            &:hover {
                animation: $--superfade 3000ms;
                -webkit-animation: $--superfade 3000ms;
                -moz-animation: $--superfade 3000ms;
                -ms-animation: $--superfade 3000ms;
                -o-animation: $--superfade 3000ms;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                position: relative;
                transition: $--transition;
            }

            &__number {
                color: $limeColor;
                margin-right: 5px;
            }

            &__text {
                color: $subtitleColor;
            }
        }
    }

}
