@import "src/App/App";

.cursor__inner {
    z-index: 999999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;

    &--dot {
        width: 6px;
        height: 6px;
        background: $--green;
    }

    &--circle {
        width: 20px;
        height: 20px;
        border: 1px solid $--green
    }
}

