@import "../../../App/App";

.cube {
    top: 80vh;
    left: 50vw;
    width: 120px;
    height: 120px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 14s ease-in forwards infinite;
    z-index: 0;
    position: fixed;

    img {
        border-radius: 4px;
    }

    @include mobile {
        width: 80px;
        height: 80px;
    }
    @include miniMobile {
        width: 80px;
        height: 80px;
    }
}

.cube:nth-child(2n) {
    border-color: $--green;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 11vw;
    top: 64vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 26vw;
    top: 80vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 23vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 65vw;
    top: 79vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 80vw;
    top: 53vh;
}

.cube:nth-child(7) {
    animation-delay: 12s;
    left: 26vw;
    top: 55vh;
}

.cube:nth-child(8) {
    animation-delay: 14s;
    left: 45vw;
    top: 28vh;
}

.cube:nth-child(9) {
    animation-delay: 16s;
    left: 60vw;
    top: 56vh;
}

.cube:nth-child(10) {
    animation-delay: 18s;
    left: 15vw;
    top: 25vh;
}


@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(1) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}
