@keyframes fadein {
    from {
        margin-bottom: 500px;
        opacity: 0;
        transform: scale(0) rotate(300deg);
    }
    to {
        opacity: 1;
        margin-bottom: 0;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes superfade {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.fade1 {
    animation: fadein 500ms;
    -webkit-animation: fadein 500ms;
    -moz-animation: fadein 500ms;
    -ms-animation: fadein 500ms;
    -o-animation: fadein 500ms;
}

.fade2 {
    animation: fadein 1000ms;
    -webkit-animation: fadein 1000ms;
    -moz-animation: fadein 1000ms;
    -ms-animation: fadein 1000ms;
    -o-animation: fadein 1000ms;
}

.fade3 {
    animation: fadein 1500ms;
    -webkit-animation: fadein 1500ms;
    -moz-animation: fadein 1500ms;
    -ms-animation: fadein 1500ms;
    -o-animation: fadein 1500ms;
}

.fade4 {
    animation: fadein 2000ms;
    -webkit-animation: fadein 2000ms;
    -moz-animation: fadein 2000ms;
    -ms-animation: fadein 2000ms;
    -o-animation: fadein 2000ms;
}

.fade5 {
    animation: fadein 2500ms;
    -webkit-animation: fadein 2500ms;
    -moz-animation: fadein 2500ms;
    -ms-animation: fadein 2500ms;
    -o-animation: fadein 2500ms;
}

.superfade {
    animation: superfade 5000ms;
    -webkit-animation: superfade 5000ms;
    -moz-animation: superfade 5000ms;
    -ms-animation: superfade 5000ms;
    -o-animation: superfade 5000ms;
}

._container {
    max-width: 1000px;
    width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
}

.wrapper {
    background-color: #0a192f;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper ._main-container {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper ._main-container .main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    margin: 0px auto 100px;
    text-align: center;
}

.contact__title {
    font-size: clamp(40px, 5vw, 60px);
    margin: 40px 0;
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
    text-align: center;
}

.contact__title:hover {
    animation: superfade 3000ms;
    -webkit-animation: superfade 3000ms;
    -moz-animation: superfade 3000ms;
    -ms-animation: superfade 3000ms;
    -o-animation: superfade 3000ms;
}

@media (max-width: 480px) {
    .contact__title {
        font-size: 32px;
    }
}

@media (max-width: 390px) {
    .contact__title {
        font-size: 32px;
    }
}

.contact__text {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #0a192f;
    color: #8892b0;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
}

@media (max-width: 480px) {
    .contact__text {
        font-size: 16px;
    }
}

@media (max-width: 390px) {
    .contact__text {
        font-size: 16px;
    }
}

.contact__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media (max-width: 480px) {
    .contact__buttons {
        flex-direction: column;
    }
}

@media (max-width: 390px) {
    .contact__buttons {
        flex-direction: column;
    }
}

.contact__buttons .button:not(:last-child) {
    margin: 0 20px 0 0;
}

@media (max-width: 480px) {
    .contact__buttons .button:not(:last-child) {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 390px) {
    .contact__buttons .button:not(:last-child) {
        margin: 0 0 20px 0;
    }
}

/*# sourceMappingURL=Contact.css.map */
