@keyframes fadein {
  from {
    margin-bottom: 500px;
    opacity: 0;
    transform: scale(0) rotate(300deg);
  }
  to {
    opacity: 1;
    margin-bottom: 0;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes superfade {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.fade1 {
  animation: fadein 500ms;
  -webkit-animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  -ms-animation: fadein 500ms;
  -o-animation: fadein 500ms;
}

.fade2 {
  animation: fadein 1000ms;
  -webkit-animation: fadein 1000ms;
  -moz-animation: fadein 1000ms;
  -ms-animation: fadein 1000ms;
  -o-animation: fadein 1000ms;
}

.fade3 {
  animation: fadein 1500ms;
  -webkit-animation: fadein 1500ms;
  -moz-animation: fadein 1500ms;
  -ms-animation: fadein 1500ms;
  -o-animation: fadein 1500ms;
}

.fade4 {
  animation: fadein 2000ms;
  -webkit-animation: fadein 2000ms;
  -moz-animation: fadein 2000ms;
  -ms-animation: fadein 2000ms;
  -o-animation: fadein 2000ms;
}

.fade5 {
  animation: fadein 2500ms;
  -webkit-animation: fadein 2500ms;
  -moz-animation: fadein 2500ms;
  -ms-animation: fadein 2500ms;
  -o-animation: fadein 2500ms;
}

.superfade {
  animation: superfade 5000ms;
  -webkit-animation: superfade 5000ms;
  -moz-animation: superfade 5000ms;
  -ms-animation: superfade 5000ms;
  -o-animation: superfade 5000ms;
}

._container {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  box-sizing: content-box;
}

.wrapper {
  background-color: #0a192f;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrapper ._main-container {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper ._main-container .main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
  padding: 100px 0;
  width: 100%;
}
@media (max-width: 480px) {
  .hello {
    padding: 60px 0px;
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  .hello {
    padding: 60px 0px;
    font-size: 18px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .hello {
    padding: 80px 0px;
  }
}
.hello__uptitle {
  font-size: 16px;
  line-height: 17px;
  color: #64ffda;
  text-align: start;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 200ms;
}
.hello__title {
  font-size: 80px;
  line-height: 88px;
  color: #ccd6f6;
  font-weight: 600;
  margin-top: 30px;
  transition-delay: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (max-width: 480px) {
  .hello__title {
    font-size: clamp(30px, 8vw, 80px);
    line-height: 40px;
  }
}
.hello__undertitle {
  font-size: 80px;
  line-height: 72px;
  color: #8892b0;
  font-weight: 600;
  margin-top: 10px;
  transition-delay: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .hello__undertitle {
    font-size: clamp(30px, 8vw, 80px);
    line-height: 40px;
  }
}
.hello__text {
  font-size: 20px;
  line-height: 26px;
  color: #8892b0;
  margin-top: 20px;
  max-width: 540px;
  transition-delay: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .hello__text {
    line-height: 18px;
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .hello__text {
    line-height: 18px;
    font-size: 14px;
  }
}
.hello__button {
  margin-top: 50px;
  transition-delay: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=Hello.css.map */
