@import "../../../App/App.scss";

.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 11;
    padding: 0px 50px;
    width: 100vw;
    min-width: 100vw;
    height: 100px;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(5px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    transition: $--transition;

    @include mobile {
        padding: 0px 50px;
        height: 90px;
    }

    @include miniMobile {
        padding: 0px 50px;
        height: 90px;
    }

    &-container {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        width: 100%;
        color: $--lightest-slate;
        counter-reset: item 0;
        z-index: 12;
        transition: $--transition;
    }

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $--transition;

        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            transition-delay: 100ms;
            transition: $--transition;
        }

        &__img {
            width: 100%;
            height: 100%;
            transition: $--transition;
            cursor: url('../../../../public/assets/cursors/purple_pointer.png'), auto !important;
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $--transition;

        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $--transition;

            @include mobile {
                display: none;
            }

            @include miniMobile {
                display: none;
            }

            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                font-size: 13px;
                transition: $--transition;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    text-decoration-skip-ink: auto;
                    color: inherit;
                    position: relative;
                    transition: $--transition;
                    cursor: url('../../../../public/assets/cursors/purple_pointer.png'), auto !important;
                }

                &__number {
                    color: $limeColor;
                    margin-right: 5px;
                    cursor: url('../../../../public/assets/cursors/purple_pointer.png'), auto !important;
                }

                &__text {
                    color: $subtitleColor;
                    cursor: url('../../../../public/assets/cursors/purple_pointer.png'), auto !important;
                }
            }
        }
    }


    .hamburger {
        display: none;

        @include miniMobile {
            width: 32px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            z-index: 3000;
            border: 0;
        }
        @include mobile {
            width: 32px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            z-index: 3000;
            border: 0;
        }

        span {
            width: 100%;
            height: 3px;
            background-color: $--green;
            transform-origin: left;
            transition: all 1s ease;
        }

        &.active span {
            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}
