@import "../../../App/App";

.skills__item {
    position: relative;
    margin-bottom: 10px;
    font-size: 13px;
    color: $subtitleColor;

    &:before {
        content: "▹";
        color: #64ffda;
        font-size: 14px;
        line-height: 12px;
        margin-right: 10px;
    }
}