@keyframes fadein {
  from {
    margin-bottom: 500px;
    opacity: 0;
    transform: scale(0) rotate(300deg);
  }
  to {
    opacity: 1;
    margin-bottom: 0;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes superfade {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.fade1 {
  animation: fadein 500ms;
  -webkit-animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  -ms-animation: fadein 500ms;
  -o-animation: fadein 500ms;
}

.fade2 {
  animation: fadein 1000ms;
  -webkit-animation: fadein 1000ms;
  -moz-animation: fadein 1000ms;
  -ms-animation: fadein 1000ms;
  -o-animation: fadein 1000ms;
}

.fade3 {
  animation: fadein 1500ms;
  -webkit-animation: fadein 1500ms;
  -moz-animation: fadein 1500ms;
  -ms-animation: fadein 1500ms;
  -o-animation: fadein 1500ms;
}

.fade4 {
  animation: fadein 2000ms;
  -webkit-animation: fadein 2000ms;
  -moz-animation: fadein 2000ms;
  -ms-animation: fadein 2000ms;
  -o-animation: fadein 2000ms;
}

.fade5 {
  animation: fadein 2500ms;
  -webkit-animation: fadein 2500ms;
  -moz-animation: fadein 2500ms;
  -ms-animation: fadein 2500ms;
  -o-animation: fadein 2500ms;
}

.superfade {
  animation: superfade 5000ms;
  -webkit-animation: superfade 5000ms;
  -moz-animation: superfade 5000ms;
  -ms-animation: superfade 5000ms;
  -o-animation: superfade 5000ms;
}

._container {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  box-sizing: content-box;
}

.wrapper {
  background-color: #0a192f;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrapper ._main-container {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper ._main-container .main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 11;
  padding: 0px 50px;
  width: 100vw;
  min-width: 100vw;
  height: 100px;
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (max-width: 480px) {
  .header {
    padding: 0px 50px;
  }
}
.header-container {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: #ccd6f6;
  counter-reset: item 0;
  z-index: 12;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .left__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transition-delay: 100ms;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .left__img {
  width: 100%;
  height: 100%;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .right__list {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (max-width: 480px) {
  .header .right__list {
    display: none;
  }
}
@media (max-width: 390px) {
  .header .right__list {
    display: none;
  }
}
.header .right__list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .right__list .item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .right__list .item__number {
  color: #64ffda;
  margin-right: 5px;
}
.header .right__list .item__text {
  color: #8892b0;
}
.header .hamburger {
  display: none;
}
@media (max-width: 390px) {
  .header .hamburger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3000;
    border: 0;
  }
}
@media (max-width: 480px) {
  .header .hamburger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3000;
    border: 0;
  }
}
.header .hamburger span {
  width: 100%;
  height: 3px;
  background-color: #64ffda;
  transform-origin: left;
  transition: all 1s ease;
}
.header .hamburger.active span:first-child {
  transform: rotate(45deg);
}
.header .hamburger.active span:nth-child(2) {
  opacity: 0;
}
.header .hamburger.active span:last-child {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=Header.css.map */
