@keyframes fadein {
  from {
    margin-bottom: 500px;
    opacity: 0;
    transform: scale(0) rotate(300deg);
  }
  to {
    opacity: 1;
    margin-bottom: 0;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes superfade {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.fade1 {
  animation: fadein 500ms;
  -webkit-animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  -ms-animation: fadein 500ms;
  -o-animation: fadein 500ms;
}

.fade2 {
  animation: fadein 1000ms;
  -webkit-animation: fadein 1000ms;
  -moz-animation: fadein 1000ms;
  -ms-animation: fadein 1000ms;
  -o-animation: fadein 1000ms;
}

.fade3 {
  animation: fadein 1500ms;
  -webkit-animation: fadein 1500ms;
  -moz-animation: fadein 1500ms;
  -ms-animation: fadein 1500ms;
  -o-animation: fadein 1500ms;
}

.fade4 {
  animation: fadein 2000ms;
  -webkit-animation: fadein 2000ms;
  -moz-animation: fadein 2000ms;
  -ms-animation: fadein 2000ms;
  -o-animation: fadein 2000ms;
}

.fade5 {
  animation: fadein 2500ms;
  -webkit-animation: fadein 2500ms;
  -moz-animation: fadein 2500ms;
  -ms-animation: fadein 2500ms;
  -o-animation: fadein 2500ms;
}

.superfade {
  animation: superfade 5000ms;
  -webkit-animation: superfade 5000ms;
  -moz-animation: superfade 5000ms;
  -ms-animation: superfade 5000ms;
  -o-animation: superfade 5000ms;
}

._container {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  box-sizing: content-box;
}

.wrapper {
  background-color: #0a192f;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrapper ._main-container {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper ._main-container .main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #ccd6f6;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  z-index: 0;
  position: fixed;
}

.cube:nth-child(2n) {
  border-color: #64ffda;
}

.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 22vh;
}

.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 80vh;
}

.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 25vh;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(10) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/*# sourceMappingURL=Background.css.map */
